body {
    background-color: rgb(184, 180, 180);
}
h1 {
    color: yellow;
background:linear-gradient(0.25turn,blue,white)
}
h2{color: rgb(49, 57, 57);
    background: linear-gradient(0.25turn,white,rgb(49,57,57));}